<div id="rocky-photocards" class="m-t-10">
  <div class="gallery m-t-10" *ngIf="photos.length > 0" >
    <mat-card *ngFor="let photo of photos; let i = index">
      <mat-card-content class="d-grid" (click)="remove(i)" matTooltip="Remove">
          <img [src]="photo.path"
              alt="{{ photo.caption }}">
          <div class="title-photo">{{ photo.album ?  photo.album + ': ' : ''}} {{ photo.caption }}</div>
      </mat-card-content>
    </mat-card>
    <div *ngIf="photos.length > 0"class="template-link w-100" >
      https://lilpeachyukie.github.io/rocky-photocards/
    </div>
  </div>
  
  <div *ngIf="photos.length < 1" class="customize-notice">
    <img [src]="'assets/_customize-notice_.png'" style="width:80%" >
  </div>
</div>